.article-title {
  position: absolute;
  bottom: 40px;
  background-color: rgba(0,0,0,0.4);
  padding: 7px;
  padding-left: 40px;
}

.article-body {
  text-align: justify !important;
  word-wrap: normal;
  font-size: 18px;
}

.title-image {
  text-align: left;
}