.article-title {
  position: absolute;
  bottom: 30px;
  background-color: rgba(0,0,0,0.44);
  padding: 7px;
  padding-left: 40px;
}

.article-body {
  text-align: justify !important;
  word-wrap: normal;
  font-size: 18px;
  color: #444444;
}

.title-image {
  text-align: left;
}

.title-image > * {
  font-size: 160%
}

.published-at {
  font-size: 130%;
  color: #888888
}

#widget {
  display: inline-flexbox;
  color: white;
  font-family: "Quattrocento", serif;
  background-color: #409d9b;
}