.article-title {
  position: relative;
  background-color: rgba(0,0,0,0.44);
  padding: 7px;
  padding-left: 40px;
  width: fit-content;
  max-width: inherit;
  word-wrap: break-word;
}

.article-body {
  text-align: justify !important;
  word-wrap: normal;
  font-size: 18px;
  color: #444444;
  margin-top: 20px !important
}

#articleCards > * > * :hover {
  transform: scale(1.005);
}

.published-at {
  font-size: 130%;
  color: #888888;
  margin-top: 20px !important
}