#language {
  padding-left: 10px;
}

span {
  font-family: "Cinzel Decorative", cursive;
  color: white;
}

#header {
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 3vw;
}

h3 {
  font-family: "Quattrocento", serif;
  color: black;
}

p {
  font-family: "EB Garamond", serif;
}

#login {
  font-family: "Quattrocento", serif;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

#login > * {
  padding-right: 10px;
}

#header {
  padding: 20px;
  background-color: #409d9b;
}

#head > * {
  display: flex;
  align-items: center;
}

#header {
  padding: 20px;
  margin: 0 !important;
  text-align: center;
}
