@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Quattrocento:wght@700&display=swap");



span {
  font-family: "Cinzel Decorative", cursive;
  color: white;
}

h1#header {
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 3vw;
}

h2,
h4,
h5,
h6 {
  font-family: "Quattrocento", serif;
  color: white;
}

h3 {
  font-family: "Quattrocento", serif;
  color: black;
}

p {
  font-family: "EB Garamond", serif;
}

a {
  color: white;
  font-family: "Quattrocento", serif;
}

#login, #subscribe {
  font-family: "Quattrocento", serif;
  font-weight: bold;
}

#head {
  background-color: #409d9b;
  margin: 0 !important;
}

#welcome-and-logout {
  display: flex;
  justify-content: flex-end;
}

#welcome-and-logout > p {
  color: white !important;
  text-align: right;
  margin-right: 10px;
}