@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@450&family=Quattrocento:wght@700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quattrocento", serif;
  color: white;
}

p {
  font-family: "EB Garamond", serif;
}

.login-container {
  height: 80vh;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #409d9b;
  height: 330px;
  width: 300px;
  border-radius: 10px;
  color: white;
}

#login-form > * {
  margin: 1px;
}

#signup-form > * {
  margin: 1px;
}

a {
  color: white !important;
  font-family: "Quattrocento", serif;
}

.scrollTop {
  position: fixed;
  width: 100vw;
  bottom: 20px;
  padding-left: 70%;
  align-content: flex-end;
  height: 20px;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
