.ui.menu {
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
  border-width: 0;
}

.ui.item.menu .item {
  padding: 0 !important;
}

#logo {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 2vw;
}

#navbar {
  font-family: "Quattrocento", serif;
  font-size: 1.3vw; 
}


